header{
    width: 100vw;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

p{
    padding-right: 30px;
    padding-left: 5px;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
}