*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(85, 84, 84);
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    padding: 100px;
    margin: 50px;
    background-color: rgb(33, 189, 189);
    border-radius: 2000px;
    
}